<a href="https://colab.research.google.com/github/Latamila/Logica_Programacao_Exercicios_comentados/blob/main/Refatoracao_teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#lista de temperaturas
#pegar temperatura minima e maxima
import math
import random

In [4]:
def MinMax(list):
  minima = min(list)
  maxima = max(list)
  print(f'A temperatura mínima para Sao paulo este mes foi {minima} ºC')
  print(f'A temperatura máxima para Sao paulo este mes foi {maxima} ºC')

In [27]:
def listas_temperaturas():
  temperaturas=[]
  i = 0

  while i <= 30:
    temperaturas.append(random.randint(-10,45))
    i += 1

  return temperaturas

In [28]:
janeiro = listas_temperaturas()
print(janeiro)

[8, 7, -6, 9, 19, 37, 33, 0, 30, 27, 10, 30, 25, 17, 19, 40, 13, -10, 33, 7, 30, 31, 18, 11, -3, 3, 8, 21, 27, 15, 14]

In [29]:
min(janeiro)

-10

In [30]:
max(janeiro)

40

In [31]:
MinMax(janeiro)

A temperatura mínima para Sao paulo este mes foi -10 ºC
A temperatura máxima para Sao paulo este mes foi 40 ºC

In [37]:
def testes_automatizados():
  i = 1
  while i <= 10:
    print(f'Iniciando Teste {i}')
    MinMax(listas_temperaturas())
    i += 1
    print('\n')

In [38]:
testes_automatizados()

Iniciando Teste 1
A temperatura mínima para Sao paulo este mes foi -7 ºC
A temperatura máxima para Sao paulo este mes foi 43 ºC


Iniciando Teste 2
A temperatura mínima para Sao paulo este mes foi -10 ºC
A temperatura máxima para Sao paulo este mes foi 43 ºC


Iniciando Teste 3
A temperatura mínima para Sao paulo este mes foi -10 ºC
A temperatura máxima para Sao paulo este mes foi 45 ºC


Iniciando Teste 4
A temperatura mínima para Sao paulo este mes foi -10 ºC
A temperatura máxima para Sao paulo este mes foi 43 ºC


Iniciando Teste 5
A temperatura mínima para Sao paulo este mes foi 0 ºC
A temperatura máxima para Sao paulo este mes foi 37 ºC


Iniciando Teste 6
A temperatura mínima para Sao paulo este mes foi -8 ºC
A temperatura máxima para Sao paulo este mes foi 44 ºC


Iniciando Teste 7
A temperatura mínima para Sao paulo este mes foi -9 ºC
A temperatura máxima para Sao paulo este mes foi 43 ºC


Iniciando Teste 8
A temperatura mínima para Sao paulo este mes foi -9 ºC
A temperatura máxima para Sao paulo este mes foi 43 ºC


Iniciando Teste 9
A temperatura mínima para Sao paulo este mes foi -6 ºC
A temperatura máxima para Sao paulo este mes foi 44 ºC


Iniciando Teste 10
A temperatura mínima para Sao paulo este mes foi -7 ºC
A temperatura máxima para Sao paulo este mes foi 45 ºC

In [39]:
lista1 = ["carro", "barco"]
lista2 = lista1
lista3 = [lista1] * 3
lista4 = lista1 * 3

In [47]:
print(lista1)

['carro', 'barco']

In [48]:
print(lista2)

['carro', 'barco']

In [49]:
print(lista3)

[['carro', 'barco'], ['carro', 'barco'], ['carro', 'barco']]

In [50]:
print(lista4)

['carro', 'barco', 'carro', 'barco', 'carro', 'barco']

In [51]:
lista1 = ["carro", "barco"]
lista2 = [["carro", "barco"], ["carro", "barco"], ["carro", "barco"]]
lista3 = ["carro", "barco", "carro", "barco", "carro", "barco"]
lista1[1] = "metrô"

In [52]:
print(lista1)

['carro', 'metrô']

In [53]:
print(lista2)

[['carro', 'barco'], ['carro', 'barco'], ['carro', 'barco']]

In [55]:
print(lista3)

['carro', 'barco', 'carro', 'barco', 'carro', 'barco']

In [60]:
lista1 = ["carro", "barco"]
lista2 = [lista1] * 3
lista3 = lista1 * 3
lista1[1] = "metrô"

In [61]:
print(lista1)

['carro', 'metrô']

In [62]:
print(lista2)

[['carro', 'metrô'], ['carro', 'metrô'], ['carro', 'metrô']]

In [59]:
print(lista3)

['carro', 'barco', 'carro', 'barco', 'carro', 'barco']